@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        @Localizer["Cookie_BannerText"] <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Cookie_LearnMore"]</a>.
        <button type="button" class="accept-policy" data-dismiss="alert" aria-label="@Localizer["Cookie_Close"]" data-cookie-string="@cookieString">
            @Localizer["Cookie_Accept"]
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            if (!button) {
                return;
            }

            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
