@using Chess.Common.Constants

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @CommonConstants.SystemName</title>
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png"/>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body data-show-password-text="@Localizer["PasswordToggle_Show"]" data-hide-password-text="@Localizer["PasswordToggle_Hide"]">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light site-navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-chess-knight chess-brand-icon" aria-hidden="true"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse align-items-sm-center">
                    <partial name="_LoginPartial" />
                    <partial name="_CultureSwitcher" />
                    <ul class="navbar-nav flex-grow-1 align-items-sm-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Nav_Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Game" asp-action="Index">@Localizer["Nav_Play"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Stats" asp-action="Index">@Localizer["Nav_Stats"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">@Localizer["Nav_About"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="body-renderer container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="app-main pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="site-footer text-muted">
        <div class="site-footer-inner">
            &copy; @DateTime.UtcNow.Year - @CommonConstants.SystemName - <i class="fab fa-github"></i> <a href="https://github.com/anton5267/Chess-master55" target="_blank">@Localizer["Footer_GitHubProject"]</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/67c59dfcad.js" asp-append-version="true" crossorigin="anonymous"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/67c59dfcad.js" asp-append-version="true" crossorigin="anonymous"></script>
    </environment>
    <script src="~/js/password-toggle.js" asp-append-version="true"></script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
